html, body {
text-align: center;
}
p {text-align: left;}
body {
margin: 0;
padding: 0;
text-align: left;
font-family:"Courier New", Courier, monospace;
font-size: 13px;
color: #FAFCF3;
background-color:#03341B;
}
*
{
margin: 0 auto 0 auto;
text-align:left;}
#main
{
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/background.png);
background-repeat:repeat-y;
width:640px;
height:auto;
margin: 0 auto;
}
#header
{
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/header.gif);
background-repeat:no-repeat;
height:160px;
width:640px;
margin-top:35px;
}
#content
{
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/contentBack.jpg);
background-repeat:no-repeat;
padding:22px;
height:500px;
}
#headerTitle
{
position:relative;
left:18px;
top:100px;
color:#00FF00;
text-align:left;
font-size:50px;
font-weight:bold;
font-family:"Courier New", Courier, monospace;
}
#headerSubText
{
position:relative;
left:0px;
top:-40px;
color:#D5FFD9;
text-align:right;
width:595px;
font-size:10px;
font-weight:bold;
font-family:"Courier New", Courier, monospace;
}
#footer {
clear:both;
width: 640px;
background-image: url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/footer.png);
background-repeat:no-repeat;
text-align:center;
font-size:9px;
}
#columnOne
{
float: left;
width: 435px;
}
#columnTwo
{
float:right;
width: 150px;
text-align:right;
}
#columnTwo h2
{
width:auto;
line-height:50px;
font-size:14px;
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/col2_h2_back.gif);
background-repeat:repeat-x;
}
#columnTwo ul {
margin: 0;
padding: 0;
list-style: none;
}
#columnTwo li {
margin-bottom:4px;
}
div.scroll {
    font-size: 10pix;
    font-family:"Courier New", Courier, monospace;
    width: 440px;
    height: 260px;
    overflow: scroll;
}
.comments
{
font-size:11px;
font-style:italic;
padding:10px;
}
a
{
text-decoration:none;
color:#E3FDEF;
}
a:hover
{
border-bottom: 1px dotted #E7EB94;
color:#E7EB94;
}
h1
{
line-height:18px;
font-size:17px;
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/col2_h2_back.gif);
background-repeat:repeat-x;
}
h2
{
line-height:20px;
font-size:15px;
}
h3
{
font-size:13px;
line-height:30px;
font-weight:normal;
padding-bottom:10px;
}
.content
{
font:"Courier New", Courier, monospace;
font-size:11px;
line-height:25px;
padding:2px;
margin-bottom:15px;
}
blockquote {
font-size:10px;
text-align:justify;
width:300px;
color:#EAF4FF;
padding:12px;
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/blockquote.png);
background-repeat:no-repeat;
}
hr {
background-image:url(https://raw.githubusercontent.com/azekillDIABLO/azekillDIABLO.github.io/master/col2_h2_back.gif);
background-repeat:repeat-x;
color:#00802b;
}
html, body {
text-align: center;
}
p {
text-align: left;
}
button {
position:relative;
color:#FAFCF3;
text-align:center;
font-size:14px;
font-family:"Courier New", Courier, monospace;
background-color:#EAF4FF;
}
