/* 
    Teletext stylesheet 
    Galax 2014-2015 http://galax.xyz
    
    MODE7GX3.TTF font by Galax 2014 - based on ModeSeven, created in 1998 by Andrew Bulhak
*/

/* Hard reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,section,summary,time,audio,video {
  padding: 0;
  margin: 0;
  border: 0;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

/* Text size variables */
:root {
  --size-h: 3.92vh; 	/* (100vh - 2vh for padding) / (25 lines of text) */
  --size-w: 3.0625vw;	/* (100vh - 2vh for padding) / (40 characters * 0.8 vertical ratio) */
  --size-resp: clamp(1rem, var(--size-w), var(--size-h));
}

@media (aspect-ratio < 1/0.8) {
  :root {
    --size-resp: var(--size-w);
  }
}

@media (aspect-ratio >= 1/0.8) {
  :root {
    --size-resp: var(--size-h);
  }
}

a {
    text-decoration: none;
}

/* mouse over link */
a.yellow:hover, .yellow a:hover {
    color: #000000;
	background-color: #FADFA1;
}

/* selected link */
a.yellow:active, .yellow a:active {
    color: #5E3CC5;
}

/* flashing class, it's like the 'blink' tag is back */
.flashing {
    animation: flashing 1.3s steps(5, start) infinite;
    -webkit-animation: flashing 1.3s steps(5, start) infinite;
}
@keyframes flashing { to { visibility: hidden; } }
@-webkit-keyframes flashing { to { visibility: hidden; } }

/* concealed text is initially hidden, reveal by modifying class */
.conceal { opacity: 0; }

.colour0, .black,   a.black,   .black a    	{color: #000000;}
.colour1, .red,     a.red,     .red  a      {color: #F93838;}
.colour2, .green,   a.green,   .green  a   	{color: #00ff00;}
.colour3, .yellow,  a.yellow,  .yellow a  	{color: #FADFA1;}
.colour4, .blue,    a.blue,    .blue a      {color: #5E3CC5;}
.colour5, .magenta, a.magenta, .magenta a	{color: #ff00ff;}
.colour6, .cyan,    a.cyan,    .cyan  a     {color: #00ffff;}
.colour7, .white,   a.white,   .white  a   	{color: #FFF4EA;}

.colour0bg, .blackbg     		{background-color: #000000;}
.colour1bg, .redbg         		{background-color: #F93838;}
.colour2bg, .greenbg     		{background-color: #00ff00;}
.colour3bg, .yellowbg   		{background-color: #FADFA1;}
.colour4bg, .bluebg       		{background-color: #5E3CC5;}
.colour5bg, .magentabg 			{background-color: #ff00ff;}
.colour6bg, .cyanbg       		{background-color: #00ffff;}
.colour7bg, .whitebg     		{background-color: #FFF4EA;}

@font-face {
    font-family: Mode7;
    src: url('MODE7GX3.TTF'), url('MODE7GX3.EOT');  /* .EOT is for IE */
}

body, td.teletext {
    font-family: Mode7, monospace, courier, fixed;
    font-size: var(--size-resp);
    font-smooth: never;
    -webkit-font-smoothing : none;
    color: #ffffff;
    background: #000000;
    line-height: var(--size-resp);
}

body {
    padding: 1vh 1vw 1vh 1vw; /* t r b l */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	
	opacity: 0.9;
}

.background {
	position: absolute;
	top: 0.2vh;
	left: 0.3vw;
	bottom: 0.2vh;
	right: 0.3vw;
	z-index: -1;
	opacity: 0.3;
	text-align: justify;
	text-justify: inter-character;
	word-wrap: break-word;
	overflow: hidden;
	color: #1D1D1D;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.teletext {
    text-align: left;
    white-space: pre;
    display: block;
    font-smooth: never;
    -webkit-font-smoothing : none;
	background: #0F0F15;
	opacity: 0.9;
}

