/* basic elements */
html {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'pixeltype';
	src: url('pixeltype-webfont.eot');
	src: url('pixeltype-webfont.eot?#iefix') format('embedded-opentype'),
		url('pixeltype-webfont.woff2') format('woff2'),
		url('pixeltype-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

li {
	list-style-type: none;
}

body {
	font-family: pixeltype;
	line-height: 1.2;
	color: black;
	background-size: cover;
	font-size: 120%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 26.1875em;
	height: 20em;
}
button {
	font-family: pixeltype;
	font-size: 100%;
	color: black;
	margin-left: -1px;
	background-size: cover;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background:rgba(255,255,255,1);
	width: 6.1250em;
	}
button:hover {
	font-family: pixeltype;
	font-size: 100%;
	color: white;
	background:rgba(0,0,0,1);
	margin-left: -1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 6.1250em;
}
	
z {
	/* like a useless div dupe, but doesn't cause line returns in text */
}

h1, h2, h3 { 
	font-family: pixeltype;
	margin-bottom: 0; 
	margin-top: 0;
	color: black;
	text-align: center;
}
a:link { 
	text-decoration: underline; 
	color: black;
	background:rgba(255,255,255,1);
}
a:visited { 
	text-decoration: none; 
	color: black;
}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color:white;
	background:rgba(0,0,0,1);
}

.underline::before {
  content: "\00a0\00a0";
}

.underline{
	border-bottom:solid; 
	border-bottom-color: #000000; 
	border-bottom-width: 1px;
	width: 100%;
	padding-bottom:5px;
}

.text {
	margin: 10px; 
	text-align:justify;
}

.text-right {
	float: right;
	text-align:right;
}

.text-center {
	float: center;
	text-align:center;
}

.text-bottom {
	display: table-cell;
	vertical-align: bottom;
	height: 14em;
}

.header {
	width: 100%;
}

#col1 {
	float: left;
	width: 6em;
	height: 20em;
	text-align:right;
	margin: 12; 
	border: 1px solid black; 
}

#col2 {
	float:left;
	width: 20em;
	height: 20em;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;  
	border: 1px solid black;
	margin-left: -1px;	
}
